<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>猜词</title>
    <link rel="stylesheet" href="./css/element-index.css">
    <link rel="manifest" href="/manifest.json">
    <script src="./scripts/vue.global.js"></script>
    <script src="./scripts/element-plus/index.full.js"></script>
    <script src="./scripts/element-plus/zh-cn.js"></script>
    <script src="./scripts/element-plus/icons-vue.js"></script>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
<div id="app">
    <div class="guess-header">
        <h1>猜词</h1>
        <el-countdown title="剩余时间" format="mm:ss" :value="expiredTime"
        @finish="countdownFinish" v-if="showRemainingTime"></el-countdown>
        <el-button @click="startGame" v-if="!showRemainingTime">开始</el-button>
    </div>
    <div class="word-card" v-if="!gameOver">
        <p class="current-word">{{ wordList[currentId] }}</p>
    </div>
    <div class="result" v-if="gameOver">
        <p>Game Over</p>
        <p>得分：{{ correctList.length }}</p>
        <el-scrollbar height="80vh">
            <p v-for="(item, index) in wordList" :key="index">
                {{ index }} {{ item }}
                <span v-if="correctList.includes(index)">✅</span>
                <span v-else>❌</span>
            </p>
        </el-scrollbar>
    </div>
</div>
<script>
    const { createApp, reactive, ref, computed, onMounted, nextTick } = Vue;
    const { ElButton, ElCard, ElIcon, ElMessage } = ElementPlus;
    const app =  createApp({
        setup() {
            const expiredTime = ref(Date.now() + 3 * 60 * 1000);
            const orientationCommand = ref('stop');
            const showRemainingTime = ref(false);
            const gameOver = ref(false);
            const currentId = ref(0);
            const correctList = ref([]);
            const wordList = ref(['苹果', '香蕉', '樱桃', '枣', '黑莓', '无花果', '葡萄', '哈密瓜']);

            function requestPermission() {
                if (typeof DeviceOrientationEvent !== 'undefined' &&
                    typeof DeviceOrientationEvent.requestPermission === 'function') {
                    DeviceOrientationEvent.requestPermission()
                        .then(permissionState => {
                            if (permissionState === 'granted') {
                                console.log('game start!');
                                ElMessage.success("开始游戏！");
                                startGuess();
                            } else {
                                ElMessage.error("方向传感器权限被拒绝！");
                                console.log('permission denied.');
                            }
                        })
                        .catch((err) => {
                            console.error("permission failed:", err);
                        });
                } else {
                    ElMessage.error('当前设备或浏览器不支持方向传感器！');
                    console.log('DeviceOrientationEvent not supported.');
                }
            }

            const startGuess = () => {
                ElMessage.warning('请将设备垂直，屏幕面向自己！');
                console.log('Now waiting for user to vertical.')
                orientationCommand.value = 'prepare';
                startListening();
                //ElMessage.success('设备垂直，开始猜谜！');
            }


            const startGame = () => {
                console.log('game init...');
                ElMessage.warning('正在初始化...')
                currentId.value = 0;
                correctList.value = [];
                ElMessage.warning('正在获取必要权限');
                requestPermission();
            }
            const guessWord = (isCorrect) => {
                const correctHint = isCorrect?'correct':'error';
                console.log('this word:[' + currentId.value + ']' + wordList.value[currentId.value] + ' which is ' + correctHint);
                if (isCorrect) {
                    correctList.value.push(currentId.value);
                }
                console.log('correctList:',correctList.value);
            }
            const nextWord = () => {
                if (currentId.value < wordList.value.length) {
                    currentId.value++;
                } else {
                    stopListening();
                    orientationCommand.value = 'stop';
                    console.log('没有更多词语了，游戏结束!');
                }
            }

            let deviceOrientationHandler = function (event) {
                let beta = event.beta;
                if (beta >= 55 && beta <= 125) {
                    if (orientationCommand.value === 'prepare') {
                        expiredTime.value = Date.now() + 10 * 1000;
                        showRemainingTime.value = true;
                        stopListening();
                        ElMessage.success('开始猜词！');
                        console.log('vertical success.');
                        orientationCommand.value = 'game';
                        startListening();
                    } else if (orientationCommand.value === 'wait') {
                        stopListening();
                        ElMessage.info('继续');
                        nextWord();
                        orientationCommand.value = 'game';
                        startListening();
                    }
                } else if (beta > 125) {
                    if (orientationCommand.value === 'game') {
                        stopListening();
                        ElMessage.success('正确！');
                        guessWord(true);
                        orientationCommand.value = 'wait';
                        startListening();
                    }
                } else if (beta < 55) {
                    if (orientationCommand.value === 'game') {
                        stopListening();
                        ElMessage.error('错误！');
                        guessWord(false);
                        orientationCommand.value = 'wait';
                        startListening();
                    }
                }
            };

            function startListening() {
                if (window.DeviceOrientationEvent) {
                    window.addEventListener('deviceorientation', deviceOrientationHandler, false);
                }
            }

            function stopListening() {
                window.removeEventListener('deviceorientation', deviceOrientationHandler);
            }

            const showResult = () => {
                gameOver.value = true;
                console.log(gameOver.value);
            }

            const countdownFinish = () => {
                ElMessage.warning('时间到！');
                orientationCommand.value = 'stop';
                showRemainingTime.value = false;
                stopListening();
                console.log('time is up!');
                showResult();
            }

            return {
                currentId,
                expiredTime,
                showRemainingTime,
                gameOver,
                correctList,
                wordList,
                nextWord,
                startGame,
                countdownFinish,
                startListening,
                stopListening,
            };
        }
    });
    for ([name, comp] of Object.entries(ElementPlusIconsVue)) {
        app.component(name, comp);
    }
    app.use(ElementPlus, { locale: ElementPlusLocaleZhCn });
    app.mount('#app');
</script>

</body>
</html>